﻿.navbar-brand > img {
    display: inline-block;
    margin-top: 3px;
}

.navbar-brand {
    padding: 5px;
}

.btn-header-entrar {
    margin: 8px 7px 0 0;
}

.navbar-fixed-top > .navbar-header {
	width:  auto;
}