<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        
        <div class="navbar-header">
            <a ui-sref="home" class="navbar-brand text-shadow-white">
                <img ng-src="{{logo}}" alt="{{sistema}}" width="auto" height="35" class="text-left" ng-if="logo" />
                <span class="text-left" ng-if="text === undefined || text === true ">{{sistema}}</span>
            </a>
        </div>

        <div class="navbar-collapse collapse" ng-if="$root.usuario">
            <ul class="nav navbar-nav pull-right mr-10">
                <li class="dropdown">
                    <a class="dropdown-toggle profile-image" data-toggle="dropdown">
                        <span ng-if="!$root.usuario.Foto" class="letter-user">
                            {{$root.usuario.Nome.charAt(0)}}
                        </span>
                        <div ng-if="$root.usuario.Foto" class="img-circle">
                            <img ng-if="$root.usuario.Foto" ng-attr-src="{{$root.usuario.Foto}}">
                        </div>
                        <span>{{$root.usuario.Nome | nomeUsuario}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a ng-click="vm.trocarUsuario()">
                                <i class="fa fa-user"></i>
                                Trocar usuário
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a ng-click="vm.logout()">
                                <i class="fa fa-sign-out"></i>
                                Sair
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li>
                    <a href="javascript:void(0);" ng-click="vm.toggleMenu()" ng-show="$root.usuario.Menu.length" class="toggle-left-sidebar">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                    </a>
                </li>
            </ul>
        </div>

        <button ui-sref="login" class="btn btn-success pull-right btn-header-entrar" ng-if="!$root.usuario">
            <i class="fa fa-user"></i>
            Entrar
        </button>
    </nav>
</header>